<!-- Post, Page Content
================================================== -->
<div class="article-post">
    <!-- Toc if any -->
    <div class="hangul" style="font-size: 32px; letter-spacing: 1px;">
    {% if page.toc %}
    {% if page.beforetoc %}
        <p><em>{{page.beforetoc}}</em></p>
    {% endif %}
    </div>
    <div class="toc mt-4 mb-4 lead">
        <h3 class="font-weight-bold">Summary</h3>
        {% include toc.html html=content %}
    </div>
    {% endif %}
    <!-- End Toc -->
    <div class="coding">
    {{content}} 
    </div>
</div>